# Items to ignore when downloading a zip
memberlite-elements-banner.jpg export-ignore
README.md export-ignore

# Items to ignore when downloading a zip
.gitattributes export-ignore
.github export-ignore
.gitignore export-ignore

languages/gettext.sh export-ignore
